<ion-content padding class="transparent-header">
  <ion-header>
    <ion-navbar>
      <ion-title>Profile</ion-title>
    </ion-navbar>
  </ion-header>

  <div class="content">

    <div class="info">

      <ion-list>

        <ion-item>
            <p>Name of Establishment</p> 
            <span>{{profileData?.name}}</span>
        </ion-item>

        <ion-item>
            <p>Email</p> 
            <span>{{profileData?.email}}</span>
        </ion-item>

        <ion-item>
            <p>Capacity</p> 
            <span>{{profileData?.capacity}}</span>
        </ion-item>

        <ion-item>
            <p>Regular Price</p> 
            <span>{{profileData?.regularPrice}}</span>  
        </ion-item>

        <ion-item *ngIf="profileData?.rate">
            <p>Rate Per Hour</p> 
            <span>{{profileData?.rate}}</span>
        </ion-item>

        <ion-item *ngIf="profileData?.overnightPrice">
            <p>Overnight Price</p> 
            <span>{{profileData?.overnightPrice}}</span>
        </ion-item>

        <ion-item>
            <p>Operating Hours</p> 
            <span>{{profileData?.openingTime}} - {{profileData?.closingTime}}</span>
        </ion-item>
      </ion-list>

            <button ion-button block class="button" (click)='openEditProfile()'>Edit Profile</button>
    </div>

  </div>

</ion-content>
