<ion-content parallax-header no-bounce class="bg-modal transparent-header">
  <ion-header>
      <ion-navbar>
          <ion-buttons start left>
              <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
            </ion-buttons>
          <ion-title class="title">Car</ion-title>
      </ion-navbar>
    </ion-header>
  <div class="header-image"></div>
  <div class="main-content" text-wrap text-center>
    <img src="./assets/imgs/avatar.jpg" class="rec" *ngIf="!imgName">
      <img [src]="imgName" class="rec" *ngIf="imgName">
      <hr>
      <ion-list no-lines *ngIf="userData != undefined">
            <ion-list-header *ngIf="cars.length > 1">
                    Car in use
            </ion-list-header>  


          <ion-item>
              <ion-icon name="car" color="secondary" item-start></ion-icon>
              <p>Plate Number</p>
              <span>{{userData?.platenumber}}</span>
          </ion-item>
          <ion-item>
              <ion-icon name="car" color="secondary" item-start></ion-icon>
              <p>Car Model</p>
              <span>{{userData?.carmodel}}</span>
          </ion-item>
      </ion-list>
      <hr>
      <ion-list *ngIf="cars.length >= 1" no-lines>
        <ion-list-header>
            Cars
        </ion-list-header>
        <ion-item *ngFor="let car of cars;let i = index">
            <ion-icon name="car" color="secondary" item-start></ion-icon>
            <p>{{car.payload.val().carmodel}}</p>
            <span>{{car.payload.val().platenumber}}</span>
            <button ion-button clear item-end (tap)="switch(car.key)">Switch</button>
        </ion-item>
    </ion-list>
  </div>

</ion-content>
