<ion-content parallax-header no-bounce class="bg-modal transparent-header">
  <ion-header>
      <ion-navbar>
          <ion-buttons start>
              <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
              </button>
            </ion-buttons>
          <ion-title class="title">Car</ion-title>
      </ion-navbar>
    </ion-header>
  <div class="header-image"></div>
  <div class="main-content" text-wrap text-center>
    <img src="./assets/imgs/avatar.jpg" class="rec" *ngIf="!imgName">
      <img [src]="imgName" class="rec" *ngIf="imgName">
      <hr>
      <ion-list no-lines>
          <ion-item>
              <ion-icon name="car" color="secondary" item-start></ion-icon>
              <p>Plate Number</p>
              <span>{{userData?.plateNumber}}</span>
          </ion-item>
          <ion-item>
              <ion-icon name="car" color="secondary" item-start></ion-icon>
              <p>Car Model</p>
              <span>{{userData?.carmodel}}</span>
          </ion-item>
      </ion-list>
      <hr>
  </div>
</ion-content>
