<ion-header>
  <ion-navbar>
    <ion-buttons start left>
      <button *ngIf="role == 'carowner' || role == undefined; else x" ion-button icon-only (click)="openMenu('Co-Menu')">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ng-template #x>
        <button ion-button icon-only (click)="openMenu('coho-Menu')">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ng-template>
    </ion-buttons>

    <ion-title>
      ParkInLot
      <ion-item *ngIf="role == 'both'">
        <ion-icon name="notifications" item-start></ion-icon>
        <ion-badge item-end>{{requestNo}}</ion-badge>
      </ion-item>
      
    </ion-title>
    <button type="button" ion-button round small color="primary" outline (click)="goToCars()">
      <ion-icon name="car" item-start></ion-icon>
      <span>{{activeCar}}</span>
    </button>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <div id="map" class="map">
    <div class="geocoder" id="geocoder"></div>
  </div>

  <div *ngIf='requestTimer'>
    <h1>Transaction</h1>
    <p>Waiting for homeowner to start timer...</p>
    <p *ngIf="timeStart">{{timeStart}}</p>
    <p *ngIf="timeEnd">{{timeStart}}</p>
  </div>

  <div class="bottom" *ngIf='btns'>
    <ion-row>
      <ion-col>
        <ion-fab class="btn-list">
          <button *ngIf="btn_parkingListFlag" id="locate" ion-fab color="secondary" (click)='showHO()'>
            <ion-icon name="list-box"></ion-icon>
          </button>
        </ion-fab>
        <ion-fab class="btn-locate">
          <button id="locate" ion-fab color="light" (click)='centerLocation()'>
            <ion-icon name="locate"></ion-icon>
          </button>
        </ion-fab>
      </ion-col>        
    </ion-row>
  </div>

  <div *ngIf="navAddress == 'Follow the blue lines to your destination'" class="cancel">
    <ion-row>
      <ion-col>
        <ion-fab class="btn-cancel">
          <button id="cancel" ion-fab color="danger" (tap)="initCancelWholeTransac()">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-fab>
      </ion-col>        
    </ion-row>
  </div>

  <div *ngIf="navAddress == 'Follow the blue lines to your destination'" class="arrived">
    <ion-row>
      <ion-col>
        <ion-fab class="btn-arrive">
          <button id="arrived" ion-fab color="success" (tap)="arrivedTransac()">
            <ion-icon name="checkmark"></ion-icon>
          </button>
        </ion-fab>
      </ion-col>        
    </ion-row>
  </div>

  <div *ngIf="tempHoID && !requestTimer">
    <div class="status_container">
      <div class="status_text">
        <p *ngIf="navAddress">
          {{navAddress}}
        </p>
        <button *ngIf="navAddress == 'Transaction was cancelled'" ion-button round small color="secondary" (tap)="clearTransac()">Continue</button> 
      </div>
    </div>
  </div>
</ion-content>
