page-co-home {
	#map {
		height:100%;
		width:100%;
		position: absolute;
	}

	.bottom {
		top:65vh;
		right:-7vw;
		position:absolute;
		width:100%;
	}
	
	.arrived {
		top:55vh;
		left:-7vw;
		position:absolute;
		width:100%;
	}
	
	#iconArrived {
		text-shadow: 1px 0px 10px rgba(2, 2, 2, 1);
		font-size: 60px;
		color: #4CAF50;;
	}
	
	.cancel {
		top:65vh;
		left:-7vw;
		position:absolute;
		width:100%;
	}

	#iconCancel {
		text-shadow: 1px 0px 10px rgba(2, 2, 2, 1);
		font-size: 60px;
	}

	#iconLocate {
		text-shadow: 1px 0px 10px rgba(2, 2, 2, 1);
		font-size: 60px;
	}

	.mapmarker {
		background-image: url('../assets/imgs/open.png');
		background-size: 35px 48px;
		width: 35px;
		height: 48px; 
		cursor: pointer;
	}

	.estabMarker {
		background-image: url('../assets/imgs/est_open.png');
		background-size: 100%;
		width: 70px;
		height: 70px; 
		cursor: pointer;
	}

	.closed {
		background-image: url('../assets/imgs/est_closed.png');
		background-size: 100%;
		width: 70px;
		height: 70px; 
		cursor: pointer;
	}

	.carmarker{
		background-image: url('../assets/imgs/car.png');
		background-size: 100%;
		width: 30px;
		height: 30px; 
		cursor: pointer;
	}
	
    .geocoder {
        position:absolute;
        width:80%;
		margin-left:-25%;
		left:25%;
		top:20px;
		border-radius: 30px;
	}
	.status_container {
		background-color: #424242;
		color: white;
		opacity: .9;
        position:absolute;
		z-index:1000;
		margin-left:1%;
        width:99%;        
		bottom:0px;
		min-height: 2%;
		border-radius: 10px 10px 0px 0px;
		box-shadow: -2px 22px 93px 0px rgba(0,0,0,0.75);
	}

	.status_text {
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		margin: auto;
		width: 95%;
		padding-top: 2px;
		font-size: 1em;
		text-align: center;
		button {
			margin: -1em auto 1em;
			font-size: 1em;
			color: #424242;
		}
	}

    .mapboxgl-ctrl-geocoder { 
		box-shadow: -2px 10px 50px 0px rgba(0,0,0,0.75);
		border-radius: 30px;
		min-width:100%; 		
	}
	
	.mapboxgl-ctrl-top-right {
		top: 0;
		left: 0;
	}

	.toolbar-background {
		background-color: color($colors, secondary, base);
	}
	
	ion-title {
		ion-icon {
			color: #424242;
		}

		button {
			margin-right: 0;
		}
	}

	ion-navbar {
		span {
			font-size: 0.90em;
			font-weight: 400;
		}
	}

	ion-fab {
		right: 10%;
		ion-icon {
			color: #424242;
		}
	}

	.btn-list {
		bottom: 150%;
	}

	.btn-cancel {
		left: 10%;
		// bottom: 150%;
	}

	.btn-arrive {
		left: 10%;
		bottom: -400%;
	}

	.no-map {
		img {
			margin-right: auto;
			margin-left: auto;
			display: block;
			width: 100%;
		}
	
		h1 {
			color: #424242;
			font-size: 1.2em;
			text-align: center;
			margin-top: -20vw;
		}
	}

	.ho-info {
		img {
			height: auto;
			width: 100%;
		}
	}

	.header-image {
        background-image: url("../assets/imgs/TopBck2.png");
        height: 30vh;
        background-size: cover;
        background-position: center center;
        position: relative;
		z-index: -1;
		color: #424242;
		padding: 1em;
	}
	
	.main-content {
        margin-top: -30px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 55px -16px rgba(0, 0, 0, 0.75);
        // background: #F5F5F5;
		position: relative !important;
		
		h2 {
			font-size: 1.2em;
		}
	}
	
    .rec {
        width: 300px;
        height: 200px;
        position: inherit;
        border: solid white;
        background-size: 100%;
        margin-top: -70px;
        margin-left: auto;
        margin-right: auto;
        // margin-bottom: 50px;
    }
}