page-co-home {
	#map{
		height:100%;
		width:100%;
		position: absolute;
	}

	.bottom{
		bottom:0;
		position:absolute;
		width:100%;
	}

	.mapmarker{
		background-image: url('../assets/imgs/open.png');

		background-size: 35px 48px;
		width: 35px;
		height: 48px; 
		cursor: pointer;
	}

	.carmarker{
		background-image: url('../assets/imgs/car.png');

		background-size: 60px 30px;
		width: 60px;
		height: 30px; 
		cursor: pointer;
	}
	
    .geocoder {
        position:absolute;
        z-index:1;
        width:50%;
        left:50%;
        margin-left:-25%;
        top:20px;
    }
    .mapboxgl-ctrl-geocoder { min-width:100%; }
}
