<ion-header>
  <ion-navbar>
      <ion-buttons start left>
          <button *ngIf="role == 'carowner' || role == undefined; else x" ion-button icon-only (click)="openMenu('Co-Menu')">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ng-template #x>
        <button ion-button icon-only (click)="openMenu('coho-Menu')">
          <ion-icon name="menu"></ion-icon>
        </button>
      </ng-template>
        </ion-buttons>

    <ion-title>
      ParkInLot
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<div class="geocoder" id="geocoder"></div>
<div id="map" class="map">
</div>


  <div class="bottom">
    <ion-row>
      <ion-col>
        <ion-buttons end>
       <button ion-button color='light' (click)='centerLocation()'>
            <ion-icon name="locate"></ion-icon>
        </button>
      </ion-buttons>
      </ion-col>        
    </ion-row>
  </div>`

  <div *ngIf="tempHoID">
      <div class="status_container">
        <div class="status_text">
            <div *ngIf="navAddress">
              {{navAddress}}
            </div>
            <button *ngIf="navAddress == 'Navigate to destination follow blue lines'" ion-button  color="danger" (tap)="initCancelWholeTransac()">Cancel</button>
            <button *ngIf="navAddress == 'Navigate to destination follow blue lines'" ion-button  color="secondary" (tap)="arrivedTransac()">Arrived</button>
            <button *ngIf="navAddress == 'Transaction was cancelled'" ion-button  (tap)="clearTransac()">Continue</button>
        </div>
      </div>
  </div>

</ion-content>
