<ion-content parallax-header no-bounce class="bg-modal transparent-header">
    <ion-header>
        <ion-navbar>
            <ion-buttons start left>
                <button ion-button menuToggle>
                  <ion-icon name="menu"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>More Details</ion-title>
        </ion-navbar>
      </ion-header>
    <div class="header-image"></div>
    <div class="main-content" text-wrap text-center>
      <!-- <img src="./assets/imgs/avatar.jpg" class="rec" *ngIf="!imgName"> -->
        <img [src]="imgName" class="rec" *ngIf="imgName">
        <img src="./assets/imgs/avatar.jpg" class="rec" *ngIf="!imgName">
        <h2>{{profileData?.fname}} {{profileData?.lname}}</h2>
        <hr>
        <ion-list no-lines text-wrap>
          <ion-item>
            <ion-icon name="pin" color="secondary"  item-start></ion-icon>
            <p>Address</p>
            <span>{{userData?.address}}</span>
          </ion-item>
      
          <ion-item>
            <ion-icon name="paper" color="secondary" item-start></ion-icon>
            <p>Details</p>
            <span>{{profileData?.details}}</span>
          </ion-item>

          <ion-item>
              <ion-icon name="call" color="secondary"  item-start></ion-icon>
              <p>Mobile</p>
              <span>{{profileData?.mobile}}</span>
            </ion-item>
        </ion-list>
    
        <button ion-button block color="secondary" (click)="sendRequest(profileData?.token)">
          Request
        </button>
    </div>
  </ion-content>

