<ion-content parallax-header no-bounce class="transparent-header bg-modal">
  <ion-header>
    <ion-navbar>
      <ion-title>Edit Profile</ion-title>
    </ion-navbar>
  </ion-header>
  
  <div class="bg"></div>
  <div padding class="info">
    <img  *ngIf="imgUrl" [src]="imgUrl" class="circular">
    <button type="button" ion-button block clear (click)="changeImg()">Change Photo</button>
    <br>
      
    <form [formGroup]='userForm' (ngSubmit)="editProfile()">
      <ion-list-header>
        Personal Details  
      </ion-list-header>
      <ion-list>
          <br>
        <ion-item>
          <ion-label stacked>First Name</ion-label>  
          <ion-input type="text" formControlName = 'fname' value="{{profileData?.fname}}"></ion-input>
        </ion-item>
        <p class="invalidMsg" *ngIf="!userForm.controls.fname.valid  && (userForm.controls.fname.touched || submitAttempt)">
          Please enter a valid first name.
        </p>
  
        <ion-item>
          <ion-label stacked>Last Name</ion-label> 
          <ion-input type="text" formControlName = 'lname' value="{{profileData?.lname}}"></ion-input>
        </ion-item>  
        <p class="invalidMsg" *ngIf="!userForm.controls.lname.valid  && (userForm.controls.lname.touched || submitAttempt)">
          Please enter a valid last name.
        </p> 
  
        <ion-item>
          <ion-label stacked>Mobile Number</ion-label>
          <ion-input type="number" formControlName = 'mobile' value="{{profileData?.mobile}}"></ion-input>
        </ion-item> 
        <p class="invalidMsg" *ngIf="!userForm.controls.mobile.valid  && (userForm.controls.mobile.touched || submitAttempt)">
          Please enter a valid mobile number.
        </p>
        <br>
        <br>
  
        <ion-list-header>
          Account Settings  
        </ion-list-header>
        <ion-item>
            <br>
          <ion-label stacked>Email</ion-label>
          <ion-input type="email" formControlName = 'email' value="{{profileData?.email}}"></ion-input>
        </ion-item> 
        <p class="invalidMsg" *ngIf="!userForm.controls.email.valid  && (userForm.controls.email.touched || submitAttempt)">
					Please enter a valid email.
				</p>
  
        <ion-item>
          <ion-label stacked>New Password</ion-label>
          <ion-input type="password" formControlName = 'password'></ion-input>
        </ion-item>
      </ion-list>    
      <button ion-button block type="submit" [disabled]='!userForm.valid' class="save">Save Changes</button>
    </form>
  </div>
</ion-content>