<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="openMenu('Ho-Menu')">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home Owner</ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="carStatus">
      <ion-segment-button value="arriving">
        Arriving
      </ion-segment-button>
      <ion-segment-button value="Parked">
        Parked
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


</ion-header>

<ion-content>

  <div [ngSwitch]="carStatus">
    <div *ngFor="let transac of transacData">
      <!-- arriving -->
      <ion-list *ngSwitchCase="'arriving'" class="margin-bottom-0">
        <ion-item-sliding *ngIf="transac.payload.val().motionStatus == 'arriving'">
          <ion-item>
            <!-- <ion-thumbnail item-start>
                        <img src="img/thumbnail-puppy-1.jpg">
                      </ion-thumbnail> -->
            <h2 ion-start>
              {{hoProfile?.fname}}
              {{hoProfile?.lname}}
            </h2>
            <!-- <p>{{transac?.payload.val().timeStarted}} : {{transac?.key}}</p> -->
          </ion-item>
          <ion-item-options side="right">

            <!--parked button-->

            <button ion-button color="secondary" (click)="toParked(transac?.key)">
              <ion-icon name="car"></ion-icon>
              arrived
              <!-- <ng-template #parking> -->
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

      <ion-list *ngSwitchCase="'Parked'" class="margin-bottom-0">

        <div *ngIf="transac?.payload.val().motionStatus == 'parked'">
          <ion-item>
            <h2 ion-start>
              {{hoProfile?.fname}}
              {{hoProfile?.lname}}
            </h2>
            <button ion-button (click)="startTimer()">Start Timer</button>
            <button ion-button (click)="stopTimer()">Stop Timer</button>
            <button ion-button (click)="transfer(transac?.key)">Transfer</button>
          </ion-item>
        </div>

      </ion-list>

    </div>
  </div>
</ion-content>