<ion-header>

  <ion-navbar>
    <ion-buttons start left>
      <button ion-button icon-only (click)="openMenu('Ho-Menu')">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Home Owner</ion-title>
  </ion-navbar>
  <ion-item clear> 
    <ion-label>Availability</ion-label>
    <ion-toggle color="secondary" [checked]="myStatus" [(ngModel)]="toggleValue" (ionChange)="updateStatus()"></ion-toggle>
  </ion-item>
  <ion-toolbar no-border-top>
    
    <!-- notification button -->


    <ion-segment [(ngModel)]="carStatus">
      <ion-segment-button value="arriving">
        Arriving
      </ion-segment-button>
      <ion-segment-button value="Parked">
        Parked
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
  
</ion-header>

<ion-content>

  <div [ngSwitch]="carStatus">
      <ion-list *ngSwitchCase="'arriving'" class="margin-bottom-0">
        <div *ngFor="let arrive of arrivingData">
            <ion-item-sliding >
                <ion-item>
                  <h2 ion-start>
                    {{hoProfile?.fname}}
                    {{hoProfile?.lname}}
                  </h2>
                </ion-item>
                <ion-item-options side="right">
      
                  <!--parked button-->
      
                  <button ion-button color="secondary" (click)="toParked(arrive?.key)">
                    <ion-icon name="car"></ion-icon>
                    arrived
                    <!-- <ng-template #parking> -->
                  </button>
                </ion-item-options>
              </ion-item-sliding>
        </div>

        <div *ngIf="arrivingData.length == 0">
            <div class="noArriving"></div>
          
          </div>
  
      </ion-list>

      <ion-list *ngSwitchCase="'Parked'" class="margin-bottom-0">

        <!-- <div *ngIf="transac?.payload.val().motionStatus == 'parked'"> -->
        <div *ngIf="parkedData.length == 0">
          <div class="noParked"></div>
        </div>
        <div *ngFor="let park of parkedData">
          <ion-item>
            <h2 ion-start>
              {{hoProfile?.fname}}
              {{hoProfile?.lname}}
            </h2>
            <div *ngIf="park?.payload.val().startTime == undefined; else stop">
                <button ion-button block color="secondary" (click)="startTimer()">Start Timer</button>

            </div>

            <ng-template #stop>
              <div *ngIf="park?.payload.val().endTime == undefined; else elseTemplate">
                <button ion-button block color="danger" (click)="stopTimer()">Stop Timer</button>            
                
              </div>
            
            </ng-template>
          
          </ion-item>
          <ng-template #elseTemplate>
              <div class="noParked"></div>
          </ng-template>
        </div>
      </ion-list>
    <!-- </div> -->
  </div>
 
  <div class="notif">
      <ion-row>
        <ion-col>
          <ion-buttons end>
            <button ion-button color='light' (tap)='showNotif()' [disabled]="!isEnabled"><ion-icon name="notifications"></ion-icon>
          </button>
        </ion-buttons>
        </ion-col>        
      </ion-row>
    </div>
</ion-content>