page-ho-home {
    .margin-bottom-0{
        margin-bottom: 5px;
    }

    .noArriving{
        background-image: url("../assets/imgs/arriving.png");
        height: 70vh;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
    
    .noParked{
        background-image: url("../assets/imgs/parked.png");
        height: 70vh;
        background-size: cover;
        background-position: center center;
        position: relative;
    }

    .co_details{
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color: #696a6d;
        text-align: center;
        height: 9vh;
    }
    .notes_container{
        text-align: center;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        color: #696a6d;
    }

    .toolbar-background {
        background-color: color($colors, secondary, base);
    }

    h2 {
        font-weight: 600 !important;
    }
}
