<!--
  Generated template for the HoEditProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
      <ion-title>Edit Profile</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="transparent-header">
  
  
    <!-- <div class="content"> -->
      <!-- <div class="top"> -->
        <img [src]="imgName" *ngIf="imgName">
        <img src="./assets/imgs/avatar.jpg" *ngIf="!imgName">
        <!-- <div class="circular" id="default" *ngIf="!imgUrl"></div> -->
        <!-- <div class="circular" *ngIf="imgUrl" [ngStyle]="{'background-image': 'url(' + imgUrl + ')'}"></div> -->
  
        <button type="button" ion-button block clear (click)="changeImg()">Change Photo</button>
      <!-- </div> -->
  
      <!-- <div class="info"> -->
          <form [formGroup]='userForm' (ngSubmit)="editProfile()">
              <ion-list>
                <ion-item>
                  <ion-label stacked>First Name</ion-label>  
                  <ion-input type="text" formControlName = 'fname' value="{{profileData?.fname}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Last Name</ion-label> 
                  <ion-input type="text" formControlName = 'lname' value="{{profileData?.lname}}"></ion-input>
                </ion-item>		
                <ion-item>
                    <ion-label stacked>Gender</ion-label> 
                  <ion-select formControlName = 'gender'>
                    <ion-option value="Female">Female</ion-option>
                    <ion-option value="Male">Male</ion-option>
                  </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Mobile Number</ion-label>
                  <ion-input type="number" formControlName = 'mobile' value="{{profileData?.mobile}}"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label stacked>Email</ion-label>
                    <ion-input type="email" formControlName = 'email' value="{{profileData?.email}}"></ion-input>
                </ion-item>	
                <!-- <ion-item>
                    <ion-label stacked>Password</ion-label>
                  <ion-input type="password" formControlName = 'password' value="johndoe"></ion-input>
                </ion-item> -->
              </ion-list>
              <button ion-button block type="submit" [disabled]='!userForm.valid'>Save Changes</button>
          </form>
      <!-- </div> -->
    <!-- </div> -->
  </ion-content>
  