<ion-content class="transparent-header">
	<ion-header>
		<ion-navbar>
		</ion-navbar>
	</ion-header>

	<ion-slides #slider class="content-slider">
		<ion-slide class="swiper-no-swiping">	
				<!-- <h1>Personal Details</h1> -->
			<div style="padding: 0 32px 32px 32px">
				<h3>Personal Details</h3>
				<form [formGroup]='userForm' (ngSubmit)="next()">	<ion-list>
						<ion-item>
							<ion-input type="text" formControlName = 'fname' placeholder="First Name"></ion-input>
						</ion-item>
							
						<ion-item>
							<ion-input type="text" formControlName = 'lname' placeholder="Last Name"></ion-input>
						</ion-item>
								
						<ion-item>
							<ion-input type="email" formControlName = 'email' placeholder="Email"></ion-input>
						</ion-item>
										
						<ion-item>
							<ion-input type="number" formControlName = 'mobile' placeholder="Mobile Number"></ion-input>
						</ion-item>
							
						<ion-item>
							<ion-input type="password" formControlName = 'password' placeholder="Password"></ion-input>
							</ion-item>
					</ion-list>

					<button ion-button block type="submit" [disabled]='!userForm.valid'>Next</button>
				</form>
						
			</div>
		</ion-slide>

		<!-- Car Details -->
		<ion-slide class="zoom swiper-no-swiping">
			<button ion-button clear (click)="back()" class="slide-button">
				<ion-icon name="arrow-back"></ion-icon>
				<span class="arrow">Back to Personal Details</span>
			</button>
			<div style="padding: 32px">
				<h3>Garage Details</h3>
				<form [formGroup]='carForm' (ngSubmit)="next()">
					<ion-item>
						<ion-input type="text" formControlName="plateno" placeholder="Plate Number"></ion-input>
					</ion-item>
					
					<ion-item>
						<ion-input type="text" formControlName="carmodel" placeholder="Car Model"></ion-input>
					</ion-item>

					<ion-item>
						<p>Upload photo of motor vehicle</p>
						<button ion-button block type="button" (click)="choose()">{{caption}}</button>
						<img [src]="imgName" *ngIf="imgName" id="selImg"/>
					</ion-item>
					<button ion-button block type="submit" [disabled]='!carForm.valid || !imgName'>Next</button>
				</form>
			</div>
		</ion-slide>

		<!-- File Upload -->
		<ion-slide class="zoom swiper-no-swiping">
			<button ion-button clear (click)="back()" class="slide-button">
				<ion-icon name="arrow-back"></ion-icon>
				<span class="arrow">Back to Car Details</span>
			</button>

			<div style="padding: 32px" class="fileUp">
				<h3>File Upload</h3>
				<p class="fileUp">Upload copy of OR/CR and a valid ID for verification of your registration.</p>
				<button ion-button block type="button" (click)="chooseFile()">Add File</button>
					
				<ion-list>
					<ion-item *ngFor="let file of files">
						<ion-label>{{file.name}}</ion-label>
						<button ion-button icon-only item-end clear (click)="presentActionSheet(file)">
							<ion-icon name="more" class="more"></ion-icon>
						</button>
					</ion-item>
				</ion-list>
					
				<button ion-button block type="submit" (click)="register()" *ngIf="files?.length > 0">Register</button>
			
			</div>
		</ion-slide>
	</ion-slides>
</ion-content>