page-est-home {
  ion-content {
    background-image: url('../assets/imgs/LoginBck.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-color: transparent;
  }
   
  @media only screen and (min-width: 768px) {
    ion-col.col {
      margin: 0 auto;
      max-width: 40%;
    }
  }

  ion-item {
    // border-radius: 30px !important;
    padding-left: 10px !important;
    margin-top: 5vh !important;
    background-color: #f6f6f6;
    opacity: 0.7;
    font-size: 0.9em;
  }

  ion-list {
    margin: 0;
  }

  .buttons {
    display: block;
    text-align: right;
  }
    
  img {
    max-width: 75%;
    border: 0;
  }

  .center-toggle{
    margin-left: auto;
    margin-right:auto;  
  }

  .toggle-md {
    margin-left: auto;
    margin-right: auto;
  }

  .center {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10vh;
  }

  .h1 {
    margin-top: auto;
    margin-bottom: auto;
  }

  span {
    color: white;
  }

  .glow-red {
    width: 70px;
    height: 70px;
    // border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff,  /* inner white */
        0 0 100px 60px #C62828, /* middle magenta */
        0 0 140px 90px #EF5350; /* outer cyan */
  }

  .glow-r {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #EF5350,   /* inner left magenta short */
        inset -20px 0 80px #EF5350,  /* inner right cyan short */
        inset 20px 0 300px #EF5350,  /* inner left magenta broad */
        inset -20px 0 300px #EF5350, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #EF5350,        /* outer left magenta */
        10px 0 80px #EF5350;      /* outer right cyan */
  }

  .glow-blue {
    width: 70px;
    height: 70px;
    // border-radius: 50%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff,  /* inner white */
        0 0 100px 60px #03A9F4, /* middle magenta */
        0 0 140px 90px #42A5F5; /* outer cyan */
  }

  .glow-b {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 90px;
    border-radius: 50%;
    box-shadow:
        inset 0 0 50px #fff,      /* inner white */
        inset 20px 0 80px #03A9F4,   /* inner left magenta short */
        inset -20px 0 80px #03A9F4,  /* inner right cyan short */
        inset 20px 0 300px #03A9F4,  /* inner left magenta broad */
        inset -20px 0 300px #03A9F4, /* inner right cyan broad */
        0 0 50px #fff,            /* outer white */
        -10px 0 80px #03A9F4,        /* outer left magenta */
        10px 0 80px #03A9F4;      /* outer right cyan */
  }
}
